
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{ font-family: " poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*navbar*/


#nav1{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;/*تثبت النصر*/
    z-index: 999;
    display: flex;/* اتحكم ب عنصر يمين وشمال*/
    justify-content: space-between;/* لمسافه بين العنصرين*/
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color:#3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #3a6cf4;
    text-decoration:none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #7e16b3;
}

section{
    padding: 100px 200px;

}


/*home*/

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/47de65bc-23cf-45fd-8470-fed6396cf668.jpg);
    background-size: cover;
    background-position:  center ;
    background-attachment: fixed;
}

.main h2{
    font-size: 1.4em;
    font-weight: 600;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: blue;
    font-size: 2em;
    font-weight: 600;
}

.main-btn{
    background-color: rgb(241, 241, 248);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing: 1px;  /*تحدد المسافه الافقيه بين الاحرف*/
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}


.main-btn:hover{
    background-color: #5f7fd8;
    transform: scale(1.1);
}


/*about*/


.About p {
    column-gap: 20px;/*المسافه بين الاعمده */
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 50px 50px;
    font-size: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}


.About h2 {
    display: flex; 
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;/*الهامش الخارجي السفلي*/
}


/*skills*/

.s-skills{
    display: flex;
    justify-content: center;
}

.SKILLS{
    width: fit-content;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.SKILLS h2{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.myskills{
    display: flex;
    justify-content: space-between;
    margin-top:30px;
    justify-content: center;
}

.myskills .sk{
    text-align: center;
    background-color:rgb(205, 202, 202);
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 50px;
}

.myskills .sk:hover{
    background-color: #3a6cf4;
   
}

.card a{
    text-decoration: none;
}


/*projects*/


.projects{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
}


.projects h2{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;/*ترتب العناصر في صف من يسار لليمين*/
    flex-wrap: wrap;/*تكون مرنه حسب الحاجه*/
    margin-top: 30px;
}


.project-card{
    background-color: #fff;
    border: 1px solid #100e0e;
    min-height: 14em;
    width: 21%;
    overflow: hidden;/*يخفي اي محتوى يتجاوز لحجم*/
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-image img{
    width: 100%;
    height: 150px;

}

.project-card:hover .project-image{
    opacity: 0.7;/*لتاثير*/
}


.project-info{
    padding: 1em;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 10px;
}

.project-title span{
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px;

}


.more-details{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 12px;
    font-weight: 300;
    

}

.more-details:hover{
    color: #7e16b3;
}

/*contact*/

.title{
    color: #3a6cf4;
    text-align: center;
    font-weight: 800;
}

.card{
    background-color: #f0f0f0;
    box-shadow: 0 5px 25px rgba(20, 11, 11, 0.2);
    border-radius:10px;
    padding: 20px;
    margin: 10px;
    transition: 0.7s ease;
    width: 240px;

}

.card:hover{
    transform: scale(1.1);
}



.content .icon{
    color: #3a6cf4;
    text-align: center;
    font-size: 2.5em;
}

.info{
    text-align: center;
}

.info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


/*footer*/

.footer{
    background-color: #141423;
    color: #f0f0f0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.footer-title span{
    color: #3a6cf4;
}

.footer .social-icons a{
    color: white;
    font-size: 1.3em;
    padding: 0 12px 0 0;
}



@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    .section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}


@media(max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}


@media(max-width:300ox){
    .body{
        font-size: 10px;
    }
}